.theme-light,
html.theme-light #app-mount .theme-light .root-1gCeng,
html.theme-light .force-theme.theme-light {
  // Background
  --background-light: #ebdbb2;
  --background-light-alt: #f2e5bc;
  --background: #fbf1c7;
  --background-alt: #d5c4a1;
  --background-dark: #a89984;

  // Text colours
  --text-normal: #3c3836;
  --text-muted: #504945;
  --text-focus: #665c54;

  // Font weights
  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-semibold: 700;
  --font-weight-bold: 700;

  // Box shadows
  --box-shadow: 0 4px 9px rgba(0 0 0 / 0.2);
  --box-shadow-alt: 0 2px 5px rgba(0 0 0 / 0.1);

  // Scrollbars
  --scrollbar-colour: rgba(0 0 0 / 0.2);

  // Messages
  --edit-message-box: var(--background-light);
  --message-background: var(--background-light);
}
